body {
  /* background-color: #B88870;  */
  background-color: #f5e2ce;
  overflow-x: hidden;
  overflow-y: auto;
} 

.my-header {
    background-color: #2e4057;
    /* padding: 10px;
    text-align: center;
    color: white;
    font-size: 15px; */
}

.background-container {
    background-image: url('./components/page_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
}

.hero-page-container {
  background-image: url('./components/page_2-3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 110vh;
}

.contact-me-page-container {
  background-image: url('./components/page_3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

/* .app-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
} */

.nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  background-color: transparent;
  z-index: 1000;
}

.center-container {
  background-color: #f5e2ce;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  color: #90652d;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.summary-container {
  /* background-color: #B88870; */
  background-color: #f5e2ce;
  display: flex;
  text-align: center;
  padding: 10%;
  /* color: rgb(249, 200, 70);  */
  color: #b53324;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 1vh;
  line-height: 1.5;
}

.project-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
  text-align: center;
  letter-spacing: 1vh;
  line-height: 1.5;
  color: rgb(249, 200, 70);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}