
.project-background-container {
  background-image: url('./components/projects-page-updated.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 95vh;
}

